.container {
    display: flex;
    margin: clamp(5px, min(5vw, 5vh), 50px);
    justify-content: space-around; 
  }
  
.card {
    width: clamp(50px, 30vw, 250px);
    height: clamp(100px, 350px, 500px);
    background-color: #56382D;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: #24202B;
    color: #FFF0DF;
    padding: clamp(5px, min(5vh, 5vw), 10px);
    margin: clamp(5px, min(5vh, 5vw), 10px);
  }
  
.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.user{
  display: flex;
  float: right;
}

.right{
  float: right;
}

.cursor{
  cursor: pointer;
}

.hide-me{
  overflow:hidden;
  -webkit-mask-image: linear-gradient(to bottom, rgb(41, 47, 73) 80%, rgba(0,0,0,0));
}


.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
  
.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 1 / 5 / 6; }
.div3 { grid-area: 5 / 1 / 6 / 3; }
.div4 { grid-area: 5 / 3 / 6 / 6; }
  
