/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; color: #2D2424;
background-color: #E0C097;
    opacity: 0.9;   
    z-index: 0; 
}